@{
    Layout = null;
}

<!DOCTYPE html>
<html>
 
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <title>Dashboard</title>
    </head>

    <body>
        <div class="container-fluid">
            <h1>Dashboard</h1>
            <a href ="/project/createproject">Create New Project</a>
            <br/><br/><br/>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>ID</th>
                        <th>Project Name</th>
                        <th>Status</th>
                        <th>Created Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.ProjectList != null)   // ViewBag.viewbagKey in Controller
                    {
                        @foreach (var pl in ViewBag.ProjectList)    
                        {
                            
                            <tr>                                
                                <td>@pl.Project_Id</td> <!-- propertyName in Model -->
                                <td><a href="/project/getprojectbyid/@pl.Project_Id">@pl.Project_Name</a></td>
                                <td>
                                    @if (pl.Project_Status == true)
                                    {
                                        <a style="color: gray;">In Progress</a>
                                    }      
                                    else
                                    {
                                        <a style="color: gray;">Finished</a>
                                    }
                                </td>
                                <td>@pl.Created_Date</td>
                                <td>
                                    <a href="/project/updateproject/@pl.Project_Id" class="btn btn-primary" type="submit">Update</a>
                                    <a href="/project/deleteprojectbyid/@pl.Project_Id" class="btn btn-danger" type="submit">Delete</a>
                                </td>
                            </tr>
                        }
                    }
               
                </tbody>
            </table>
        </div>      
  
    </body>

    <foot>

    </foot>

</html>